<h1>Movie Details</h1>
<%= render @movie %>

<%= link_to 'Edit Movie', edit_movie_path(@movie), class: "btn" %> |
<%= link_to 'Back to Movies', movies_path, class: "btn" %> |
<%= link_to 'Delete Movie', movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>