<h1>Movie Details</h1>
<%= render @movie %>

<%= link_to 'Edit Movie', edit_movie_path(@movie), class: "btn" %> |
<%= link_to 'Back to Movies', movies_path, class: "btn" %> |
<%= link_to 'Delete Movie', movie_path(@movie),
      data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this movie?' },
      class: "btn btn-danger" %>
